NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://parijat1072005:Parijat%23mongodbproject0@cluster0.cpeoxsj.mongodb.net/apni-rasoi

JWT_ACCESS_SECRET=jtdthdmnjfjly
JWT_REFRESH_SECRET=jtdthdmnjfjlz
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dxdgsjrko
CLOUDINARY_API_KEY=825958532412146
CLOUDINARY_API_SECRET=7OKu4EcRgtWp4p1zwTvn6-TXmYc

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=parijat172005@gmail.com
EMAIL_PASS=vpwl dbvp fibx mfyo
EMAIL_FROM=Apni Rasoi <noreply@apnirasoi.com>

RAZORPAY_KEY_ID = rzp_test_S2IpUuja6XVLoI
RAZORPAY_KEY_SECRET = jSP0R3EmRP6gJae2EMkKQSUh


CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174